<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_position</key>
	<integer>6</integer>
	<key>Battery_state</key>
	<false/>
	<key>Bluetooth_position</key>
	<integer>7</integer>
	<key>CPU_barChart_position</key>
	<integer>3</integer>
	<key>CPU_label_position</key>
	<integer>2</integer>
	<key>CPU_lineChart_position</key>
	<integer>0</integer>
	<key>CPU_line_chart_box</key>
	<true/>
	<key>CPU_line_chart_color</key>
	<string>utilization</string>
	<key>CPU_line_chart_frame</key>
	<false/>
	<key>CPU_line_chart_label</key>
	<true/>
	<key>CPU_line_chart_value</key>
	<false/>
	<key>CPU_mini_position</key>
	<integer>1</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_position</key>
	<integer>0</integer>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_updateInterval</key>
	<integer>5</integer>
	<key>CPU_updateTopInterval</key>
	<integer>5</integer>
	<key>CPU_widget</key>
	<string>line_chart</string>
	<key>Clock_position</key>
	<integer>8</integer>
	<key>CombinedModules</key>
	<true/>
	<key>CombinedModules_popup</key>
	<true/>
	<key>CombinedModules_separator</key>
	<true/>
	<key>CombinedModules_spacing</key>
	<string>1</string>
	<key>Disk_barChart_position</key>
	<integer>3</integer>
	<key>Disk_base</key>
	<string>byte</string>
	<key>Disk_disk</key>
	<string>Macintosh HD</string>
	<key>Disk_label_position</key>
	<integer>2</integer>
	<key>Disk_memory_position</key>
	<integer>5</integer>
	<key>Disk_mini_position</key>
	<integer>1</integer>
	<key>Disk_networkChart_position</key>
	<integer>6</integer>
	<key>Disk_pieChart_position</key>
	<integer>4</integer>
	<key>Disk_position</key>
	<integer>3</integer>
	<key>Disk_speed_displayValue</key>
	<string>oi</string>
	<key>Disk_speed_icon</key>
	<string>chars</string>
	<key>Disk_speed_iconColor</key>
	<string>default</string>
	<key>Disk_speed_mode</key>
	<string>twoRows</string>
	<key>Disk_speed_monochrome</key>
	<false/>
	<key>Disk_speed_position</key>
	<integer>0</integer>
	<key>Disk_text_position</key>
	<integer>7</integer>
	<key>Disk_widget</key>
	<string>speed</string>
	<key>GPU_position</key>
	<integer>1</integer>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{807, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va2QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAIA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAHNlcmdpbwAACAAAAAEB
	AABwcm9qZWN0cwQAAAABAQAAbWlzYw4AAAABAQAAc2V0dXAtY29tcHV0ZXIAAAUAAAAB
	AQAAc3RhdHMAAAAYAAAAAQYAABAAAAAgAAAAMAAAAEAAAABMAAAAZAAAAAgAAAAEAwAA
	oTgAAAAAAAAIAAAABAMAANJeAAAAAAAACAAAAAQDAACtPAoAAAAAAAgAAAAEAwAA7T4K
	AAAAAAAIAAAABAMAAN3OCgAAAAAACAAAAAQDAACsQiMBAAAAABgAAAABBgAAlAAAAKQA
	AAC0AAAAxAAAANQAAADkAAAACAAAAAAEAABBxzLfkGls1xgAAAABAgAAAgAAAAAAAAAf
	AgAAAAAAAB8CAAAAAAAAAAAAAAEFAAAIAAAABAMAAAQAAAAAAAAABAAAAAMDAAD1AQAA
	CAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA4AHj6AAA
	AAgAAAAABAAAQccohIaAAAAkAAAAAQEAADRDMzVGQkIzLTRFNDktNDk5RS05RDgzLThD
	RjlENzlFNTUxRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAO8TAAABAAAAAQAAAAEBAAAv
	AAAAMAAAAAECAABkbmliAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAByZGxm
	AgAAAAAAAADwAAAA/v///wEAAAAAAAAAEwAAAAQQAAB0AAAAAAAAAAUQAAD0AAAAAAAA
	ABAQAAAkAQAAAAAAAEAQAAAUAQAAAAAAAAIgAAD4AQAAAAAAAAUgAABoAQAAAAAAABAg
	AAB4AQAAAAAAABEgAACsAQAAAAAAABIgAACMAQAAAAAAABMgAACcAQAAAAAAACAgAADY
	AQAAAAAAADAgAABEAQAAAAAAAAHAAABMAQAAAAAAABHAAAAgAAAAAAAAABLAAABcAQAA
	AAAAAAHQAABEAQAAAAAAABDQAAAEAAAAAAAAABfwAABkAAAAAAAAACLwAAAEAgAAAAAA
	AA==
	</data>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>876 667 807 448 0 0 2560 1415 </string>
	<key>Network_base</key>
	<string>byte</string>
	<key>Network_interface</key>
	<string>en0</string>
	<key>Network_position</key>
	<integer>5</integer>
	<key>Network_publicIP</key>
	<true/>
	<key>Network_reader</key>
	<string>interface</string>
	<key>Network_speed_displayValue</key>
	<string>oi</string>
	<key>Network_speed_icon</key>
	<string>arrows</string>
	<key>RAM_barChart_position</key>
	<integer>0</integer>
	<key>RAM_bar_chart_box</key>
	<true/>
	<key>RAM_bar_chart_frame</key>
	<false/>
	<key>RAM_bar_chart_label</key>
	<true/>
	<key>RAM_combinedProcesses</key>
	<false/>
	<key>RAM_label_position</key>
	<integer>5</integer>
	<key>RAM_lineChart_position</key>
	<integer>1</integer>
	<key>RAM_memory_position</key>
	<integer>6</integer>
	<key>RAM_mini_position</key>
	<integer>4</integer>
	<key>RAM_pieChart_position</key>
	<integer>2</integer>
	<key>RAM_position</key>
	<integer>2</integer>
	<key>RAM_splitValue</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>3</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_updateInterval</key>
	<integer>5</integer>
	<key>RAM_updateTopInterval</key>
	<integer>5</integer>
	<key>RAM_widget</key>
	<string>bar_chart</string>
	<key>Sensors_position</key>
	<integer>4</integer>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_Average CPU_notification</key>
	<string>65</string>
	<key>sensor_Hottest CPU_notification</key>
	<string>90</string>
	<key>sensor_Tp01_notification</key>
	<string></string>
	<key>sensor_Tp05_notification</key>
	<string></string>
	<key>sensor_Tp09_notification</key>
	<string></string>
	<key>sensor_Tp0D_notification</key>
	<string></string>
	<key>sensor_Tp0b_notification</key>
	<string></string>
	<key>sensor_Tp0f_notification</key>
	<string></string>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1756727239</integer>
	<key>telemetry</key>
	<false/>
	<key>updater_check_ts</key>
	<integer>1756743226</integer>
	<key>version</key>
	<string>2.11.52</string>
</dict>
</plist>
